.sidebar {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 2px 0px 6px -6px rgb(255, 255, 255);
	-moz-box-shadow: 2px 0px 6px -6px rgb(0, 0, 0);
    box-shadow: 2px 0px 6px -6px rgb(0, 0, 0);
}

.sidebar-menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sidebar-link-container {
    margin: 5px;
}

.sidebar-item {
    text-decoration: none;
	cursor: pointer;
    color: black;
    /* background-color: black; */
	transition: 0.2s;
    font-weight: 700;
    padding: 7px;
    display: block;
    border-radius: 18px;
}

.sidebar-item.active {
    background-color:rgb(67, 221, 188);
}

.sidebar-item:hover {
    background-color: black;
    color: white;
}
