* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  background-color: rgb(235, 235, 235);
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: "Source Sans Pro", sans-serif;
}

.main-container {
  width: 100%;
	margin-top: 90px;
  display: flex;
  justify-content: space-around;
}

.main-section {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content-section {
  width: 70%;
  height: 600px;
  overflow: scroll;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 30px;
  justify-self: center;
  align-self: center;
  -webkit-box-shadow: 2px 2px 6px -6px rgb(0, 0, 0);
	-moz-box-shadow: 2px 2px 6px -6px rgb(0, 0, 0);
	box-shadow: 2px 2px 6px -6px rgb(0, 0, 0);
}