* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  background-color: rgb(252, 252, 252);
}

@font-face {
  font-family: SF-Pro;
  src: url('./Style/fonts/SfPro.woff');
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: SF-Pro;
}

.main-container {
  width: 100%;
	margin-top: 90px;
  display: flex;
}

.main-section {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Remove arrows from number input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}